LLM_API_KEY = "your_api_key_here"
LLM_BASE_URL = "your_openai_compatible_api_base_url_here"
LLM_MODEL_NAME = "your_llm_name_here"

VLM_API_KEY = "your_api_key_here"
VLM_BASE_URL = "your_openai_compatible_api_base_url_here"
VLM_MODEL_NAME = "your_vlm_name_here"